@import "variables";
@import "vendor-utils";

body {
    height: 100%;
    font-family: 'Roboto', sans-serif;
}

a, button {
    transition: 0.3s;
}

.wrap {
    //padding: 50px 0 0;
    min-height: 100%;
    height: auto;
}

.wrap > .container {
}

.footer {
    height: 60px;
    background-color: #f5f5f5;
    border-top: 1px solid #ddd;
    padding-top: 20px;
}

.jumbotron {
    text-align: center;
    background-color: transparent;
}

.jumbotron .btn {
    font-size: 21px;
    padding: 14px 24px;
}

.not-set {
    color: #c55;
    font-style: italic;
}

/* add sorting icons to gridview sort links */
a.asc:after, a.desc:after {
    position: relative;
    top: 1px;
    display: inline-block;
    font-family: 'Glyphicons Halflings';
    font-style: normal;
    font-weight: normal;
    line-height: 1;
    padding-left: 5px;
}

a.asc:after {
    content: /*"\e113"*/
            "\e151";
}

a.desc:after {
    content: /*"\e114"*/
            "\e152";
}

.sort-numerical a.asc:after {
    content: "\e153";
}

.sort-numerical a.desc:after {
    content: "\e154";
}

.sort-ordinal a.asc:after {
    content: "\e155";
}

.sort-ordinal a.desc:after {
    content: "\e156";
}

.grid-view th {
    white-space: nowrap;
}

.hint-block {
    display: block;
    margin-top: 5px;
    color: #999;
}

.error-summary {
    color: #a94442;
    background: #fdf7f7;
    border-left: 2px solid #eed3d7;
    padding: 10px 20px;
    margin: 0 0 15px 0;
}

/**
 * Common
**/

.btn-primary {
    background-color: lighten($lux-blue, 20%);
    border-color: lighten($lux-blue, 20%);
}

.btn-default:hover {
    background-color: #90A4AE;
    border-color: #90A4AE !important;
}

/* Navs */
#site-nav {
    border: none;
    /*height: 80px;*/
    background: $lux-blue;
    border-bottom: 1px solid darken($lux-blue, 5%);
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);

    .navbar-brand {
        padding-top: 0;
        padding-bottom: 0;
    }

    #site-menu {
        li {
            margin: 0 10px;

            a {
                color: #fff;
            }

            a:hover {
                // background-color: lighten($lux-blue, 20%);
                // $subSize: 0.3em;
                // border-bottom: lighten($lux-green, 10%  ) solid $subSize;
                // padding-bottom: 1em - $subSize;
                // box-sizing: border-box;
                // transition: 0.3s ease-out, transform 0.3s;
                // transition-property: left, right;
            }
        }

        .hvr-underline-from-center:before {
            background: lighten($lux-blue, 30%);
        }

        li.active a {
            // $subSize: 0.3em;
            background: darken($lux-blue, 5%) !important;
            // background: $lux-blue !important;
            // border-bottom: lighten($lux-green, 10%  ) solid $subSize;
            // padding-bottom: 1em - $subSize + 0.1em;
            // box-sizing: border-box;
        }
    }
}

// @import url('https://fonts.googleapis.com/css?family=Cormorant+Garamond:300,400,600,700');

#banner {
    padding: 320px 20px 140px;
    background: url('~@assets/img/landing/banner-bg-2.jpg');
    background-position: center bottom;
    background-size: 100% auto;
    color: #fff;
    font-weight: 300;
    min-height: 100vh;

    h1 {
        font-size: 46px;
        margin-top: 0;
        margin-bottom: 40px;
        text-align: center;
        font-family: 'Cormorant Garamond', cursive;
        text-shadow: 0 2px 8px rgba(0, 0, 0, 0.5);
    }
}

#action-menu {
    li a {
        background: $lux-orange;
        padding: 8px 16px;
        margin: 6px;
        color: #fff;
        border-radius: 6px;
        //border: 1px solid rgba(255,255,255,0.3);
    }

    li a:hover {
        color: $lux-orange;
        background: #fff;
    }
}

#why {
    padding-top: 60px;
    padding-bottom: 60px;

    h3 {
        font-size: 26px;
        margin-top: 0;
        font-weight: 300;
    }

    article {
        figure {
            display: flex;
            align-items: center;
            margin-top: 20px;
            margin-bottom: 20px;
            padding: 0;

            img {
                width: 100%;
            }
        }
    }

    aside {
        padding: 0;
        background: #eee;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;

        .index-flat-card {
            padding: 0;
            height: 200px;
            overflow: hidden;

            figcaption {
                position: absolute;
                bottom: 0;
                padding: 3em 16px 5px;
                background: linear-gradient(transparent 25%, rgba(0, 0, 0, 0.75) 100%);
                z-index: 1;
                width: 100%;
                box-sizing: border-box;
                color: #fff;

                a {
                    display: block;
                    margin-bottom: 4px;
                    font-size: 16px;
                    color: #fff;
                    cursor: pointer;
                    font-weight: bold;
                }

                p {
                    margin-bottom: 2px;
                }
            }
        }

        .more-flats {
            display: flex;
            align-items: center;
            justify-content: center;
            padding: 0;
            height: 200px;
            background: $lux-blue;
            width: 49.8%;

            a {
                width: 100%;
                text-align: center;
                color: #fff;
            }
        }

        img {
            width: 100%
        }
    }
}

.site-index {
    //spadding-top: 60px;
    //padding-bottom: 60px;

    .container {
        padding: 0;
    }

    .advantages {
        overflow: hidden;
        display: flex;
        flex-flow: row wrap;
        align-items: stretch;
        justify-content: center;

        h2 {
            font-size: 24px;
            margin-bottom: 20px;
        }

        .adv-col {
            padding: 10px;

            article {
                padding: 20px 10px;
                box-shadow: 0 1px 6px rgba(0, 0, 0, 0.1);
                height: 100%;
            }
        }
    }
}

.slider {
    width: 100%;
    min-height: 500px;

    #first-slide {
        background-image: url('~@assets/img/landing/slider1.jpg');
    }

    #second-slide {
        background-image: url('~@assets/img/landing/slider2.jpeg');
    }

    #third-slide {
        background-image: url('~@assets/img/landing/slider3.jpeg');

        p {
            display: inline-block;
        }
    }

    .slide {
        background-size: 100% auto;
        background-position: center bottom;
        background-repeat: no-repeat;
        height: auto;
    }

    .slidecontent {
        display: flex;
        justify-content: center;
        flex-flow: column;
        height: 100%;
        padding: 4%;
        color: #eee;
        background: rgba($lux-blue, 0.8);

        h4 {
            margin-bottom: 24px;
        }

        p {
            line-height: 24px;
            margin-bottom: 36px;
        }
    }
}

.prefooter {
    padding-top: 30px;
    padding-bottom: 30px;
    background: #ddd;
    overflow: hidden;
    box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.1);

    ul {
        padding: 0;

        li {
            list-style: none;
            margin-bottom: 8px;
            font-size: 12px;
        }
    }

    h4 {
        font-size: 18px;
        margin-top: 0;
    }
}

.slider-box {
    position: relative;
}

#slideposition {
    position: absolute;
    bottom: 20px;
    left: 50%;
    z-index: 5;
}

#slideposition ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

#slideposition ul li.indicator.active {
    background: white;
}

#slideposition ul li.indicator {
    display: inline-block;
    height: 10px;
    width: 10px;
    background: #222;
    margin: 0px 7px;
    padding: 0;
    -webkit-border-radius: 999px;
    -moz-border-radius: 999px;
    border-radius: 999px;
    overflow: hidden;
    cursor: pointer;
}

input.input_underline {
    border-bottom: 1px solid #CCC;
}
textarea.input_underline {
    border-bottom: 1px solid #CCC;
}

.vodal-dialog {
    padding-top: 0;
}

/* Objects */
@import "object/_flat";
@import "object/_flat-filters.scss";

/* Agent */
@import "agent";

/* About */
@import "about";

/* Footer */
@import "footer";

/* Media */
@import "media";

/* Helpers */
@import "helpers";
