#flats-out{
  .hvr-underline-reveal:before {
    background: $secondary-color;
  }

  figure{
    overflow: hidden;
  }

  figcaption{
    overflow: hidden;
    margin: 16px 0;
    border-radius: 4px;
    background: #fcfcfc;
    border:1px solid #f6f6f6;
    box-sizing: border-box;
    box-shadow: 0 5px 10px rgba(0,0,0,0.05);

    .flat-details{
      display: block;
      padding: 8px 16px;

      p{
        margin-bottom: 4px;
      }
    }

    .flat-price{
      margin-top: 4px;
      margin-bottom: 8px;
      font-size: 20px;
    }

    .flat-gallery{
      height: 180px;
      overflow: hidden;

      .flat-actions{
        display: block;
        overflow: hidden;
        padding: 4px 8px;
        border: 1px solid darken($primary-color, 5%);
        border-bottom: 1px solid lighten($primary-color, 5%);
        background: $primary-color;

        .flat-open-gallery{
          float: left;
          line-height: 24px;
          vertical-align: middle;
          color: #fff;
        }

        .flat-open-gallery:hover{
          color: $secondary-color;
        }

        .flat-btn-group{
          float: right;

          button{
            border-radius: 4px;
            color: #fff;
            background: none;
            border: 1px solid #fff;
          }

          button:hover{
            background: #fff;
            color: $primary-color;
            transition: 0.3s;
          }
        }
      }
    }

    .flat-street{
      display: block;
      padding: 4px 16px 16px;
      font-size: 16px;
      text-align: left;
    }
  }
}