/* Colors */

// VAR 1
/*$lux-blue: #305075;
$lux-orange: #F18F01;
$lux-green: #3BC14A;
*/
// VAR 2
// $lux-blue: #01579B;
$lux-blue: #0c6fbb;
$lux-orange: #fb8c00;
$lux-green: #64dd17;
$lux-red: #ff0000;

// VAR 3
/*$lux-blue: #3A539B;
$lux-orange: #F9690E;
$lux-green: #2ECC71;
*/
